<nav class="navbar">
  <div class="container-fluid d-flex justify-content-center">
    <span class="navbar-text text-white">
      <h4 class="fw-bolder">Sermac-App</h4>
    </span>
  </div>
</nav>

<div class="container">
  <div class="card shadow p-3 mb-5 bg-body rounded">
    <div class="card-body">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Ingresa el ID de tu Reporte..."
          aria-label="Recipient's username"
          aria-describedby="button-addon2"
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          id="button-addon2"
        >
          Buscar
        </button>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="fw-bolder">Datos del Reporte</h5>
          <br />
          <p><strong class="fw-bolder">Folio: </strong>1211232423432</p>
          <p><strong class="fw-bolder">Estatus: </strong>Evaluacion</p>
          <p>
            <strong class="fw-bolder">Técnico asignado: </strong>Juan Quevedo
          </p>
          <p>
            <strong class="fw-bolder">Tipo de servicio: </strong>Reparacion de
            aire acondicionado
          </p>
          <p>
            <strong class="fw-bolder">Maquina o equipo: </strong>La Puta de Tu
            Madre
          </p>
          <p>
            <strong class="fw-bolder">Requerimientos: </strong>La Puta de Tu
            Madre
          </p>
          <p>
            <strong class="fw-bolder">Diagnostico: </strong>La Puta de Tu Madre
          </p>
          <p>
            <strong class="fw-bolder">Solucion: </strong>La Puta de Tu Madre
          </p>
          <p>
            <strong class="fw-bolder">Refacciones: </strong>La Puta de Tu Madre
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
